.main {
    justify-content: start;
    margin-left: 25px;
    margin-right: 25px;
    
}

.title {
    border-bottom: 2px ridge #3F51B5;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.title-teacher{
    letter-spacing: .01428571em;
    font-family: Roboto,Arial,sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.25rem;
    color: #5f6368;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
}

.title-title {
    font-family: 'Google Sans',Roboto,Arial,sans-serif;
    font-size: 2rem;
    font-weight: 400;
    line-height: 2.5rem;
    word-wrap: break-word;
    color: #174ea6;
    white-space: pre-wrap;
}

.content{
    
  /* IMPORTANTE */
  width: 50%;
  margin: 0 auto;
  
}

.content-content{

    margin-bottom: 20px;
}
