.titulo{
    font-family: fantasy; 
    vertical-align: middle;
    text-decoration: underline;  
    text-align: center;

}
.datos{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size:xx-large;
}

.button {
    text-align: center;
    margin-top: 100px;
}


