* {
    margin: 0;
    padding: 0;
}

.course-title {
    width: 100%;
    box-shadow: 0 0 1rem #cacaca;
    display: flex;
    flex-direction: row;   
    margin: 2rem 0;     
}

.course-title__info {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 1rem 0;
    color:  #fff;
    border-radius: 1rem;
}

.course-title__info>div {    
    width: 92%;
    text-align: left;
}

.course__description {
    overflow-y: hidden;
    height: 100%;
}

.course__description > p {	
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-style: italic;
    margin-left: 0.5rem;
}

.course__subinfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.course__subinfo>div {
    width: 40px;
    height: 40px;
    background-color: #3F51B5;
    border-radius: 50%;    
    margin-left: 0.5rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.course__subinfo>div:hover {
    background-color: #5868c5;
}

.course__subinfo h2 {
    color: #fff;
    display: block;
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    font-size: 2.25rem;    
    line-height: 2.75rem;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: bold;
}

.course__subinfo > input:focus {
    outline: 0;
    border-bottom: 3px solid #1536f1 !important;
}

.descrip {
    overflow-y: scroll;
    height: 100%;
}

.course__description textarea:focus {
    outline: 0;
    border: none;
    border-bottom: 3px solid #1536f1 !important;    
}

.course-description textarea {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;  
    resize:none;
}

.course-title--edit {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
    font-size: 2rem;
    font-weight: 600;
}

.course-title--edit>div {
    width: 100%;
}

.course-title--edit__category {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; 
}

.course-title--edit__visibility {
    font-size: 1.9rem;
    font-weight: 400;
}

.course-title--edit__background{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;    
}
