* {
    margin: 0;
    padding: 0;
}

.course-title {
    width: 100%;
    box-shadow: 0 0 1rem #cacaca ;
    display: flex;
    flex-direction: row;    
    height: 240px;
    margin: 2rem 0 ;
}

.course-title > div {
    margin: 1rem;    
}

.course-title__info {
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.course-title__info > div {
    margin: 0.2rem;
    width: 90%;
    text-align: left;
}

.course-title__teacher {
    display: flex;
    flex-direction: row;    
    align-items: center;
}

.course-title__teacher p {
    margin-left: 0.75rem;
    font-size: 1.25rem;
    text-transform: capitalize;
}

.course-title__ver {
    color: #3F51B5;
    cursor: pointer;   
}

.course-title__ver:hover {
    color: #293eb6;
    text-shadow: 0 0 4px #cfcfcf;
}

.course-title__extra {
    width: 35%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.course-title__extra > div {    
    width: 0;
    overflow: hidden;
}

.course-title__extra > div img {
    width: 100%;
    object-fit: fill;
}

.c-active {
    width: 100% !important;
}

.course__subinfo h2 {
    font-size: 3rem;
    text-transform: capitalize;
    letter-spacing: 1px;
    
}

.course__subinfo p {
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-style: italic;
    margin-left: 0.5rem;
}