.main-content{
    background-color: #0dcaf021;
    height: 100vh;
    padding-top: 1px;
    margin-top: -60px;
}
.Container-Form {
    width: 50%;
    margin: 100px auto 10px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 9px 8px 20px -10px #000000;
    background-color: #5263ff40;
}

textarea {
    resize: none;
}

.content-text {
    font-family: inherit;
    font-size: 1.2rem;
    letter-spacing: 0.05rem;
    color: #000000;
    font-weight: 700;
    text-decoration: none;
    font-style: italic;
    
}

.content-title {
    width: 100%;
    text-align: center;
    
}

.content-title-text {
    font-family: inherit;
    font-size: 1.6rem;
    letter-spacing: 0.05rem;
    color: #000000;
    font-weight: 700;
    font-style: italic;
    border-bottom: 1px solid black;
    width: fit-content;
    padding: 0 71px 0;
}

.content-text-label{
    border: 2px solid black;
}

.radio-group-content{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}