*{box-sizing:border-box;}
.container2 {
    max-width: 75rem;
    width: 100%;
    margin: 0px auto;
    text-align: center;
}

.margen {
    margin: 0.4rem 1rem;
}

.container3 {
    max-width: 1000px;
    width: 100%;
    margin: 0px auto;
    text-align: center;
}
